!!!
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1,maximum-scale=1,user-scalable=no')
    title= 'chat'
    link(rel='stylesheet', href='css/semantic.min.css')
    link(rel='stylesheet', href='css/chat.css')
  body
    .ui.transparent.inverted.main.menu
      .container
        a.item.active
          i.home.icon
          | Room
        a.item
          span(id='peoplecount')
          |  People
    .main.container
      #content(style='height: 10em; overflow-y: scroll;')
      br
      .ui.action.input(style='width:100%;')
        input#field(placeholder='message...')
        #send.ui.button send
    .ui.dimmer.page.hidden
      #setup.ui.modal.transition.hidden
        .header Chat Session Setup
        .content
          .ui.large.input.fluid
            input(type='text', id='name', placeholder='Alias')
            br
            br
            input(type='text', id='password', placeholder='Passphrase')
          br
          br
          #connect.ui.green.button.fluid
            p Connect

    script(src='socket.io/socket.io.js')
    script(src='js/jquery-2.0.3.min.js')
    script(src='js/semantic.min.js')
    script(src='js/aes.js')
    script(src='js/sha256.js')
    script(src='js/chat.js')