doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1,maximum-scale=1,user-scalable=no')
    title= 'chat'
    link(rel='stylesheet', href='css/semantic.min.css')
    link(rel='stylesheet', href='css/chat.css')
  body
    #mainappcontainer
      #navibar.ui.tiered.transparent.inverted.menu
        .menu
          a.item.mainview.active(data-id='lobby')
            i.chat.icon
            | Lobby
          a.item.mainview(data-id='friends')
            i.users.icon
            | Friends
        .ui.sub.menu.lobby
          a.item
            span(id='peoplecount')
            |  People Connected
        .ui.sub.menu.friends(style='display: none;')
          a.item
            i.icon.small.add
            | Add
          a.item
            i.icon.small.remove
            | Remove


      #lobby
        .main.container
          .content(style='overflow-y: scroll;')
          br
          .ui.action.input(style='width:100%;')
            input#field(placeholder='message...')
            #send.ui.button send

        #setup.ui.modal.transition.hidden
          .header Chat Session Setup
          .content
            .ui.large.input.fluid
              input#name(type='text', placeholder='Alias')
              br
              br
              input#password(type='text', placeholder='Passphrase')
            br
            .actions
              .ui.positive.button.huge.fluid(style='margin-left: 0;') Connect

      #friends

    
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js')
    script(src='js/lib/engine.io.js')
    script(src='js/lib/semantic.min.js')
    script(src='js/lib/aes.js')
    script(src='js/lib/sha256.js')
    script(src='js/lib/Nonsense.js')
    script(src='js/chat.js')
