doctype html
html(lang="en", ng-app='chat')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1,maximum-scale=1,user-scalable=no, width=device-width')
    title= 'chat'
    link(rel='stylesheet', href='bower_components/semantic-ui/build/packaged/css/semantic.min.css')
    link(rel='stylesheet', href='css/chat.css')
  body
    #mainappcontainer
      #navibar.ui.tiered.transparent.inverted.menu
        .menu
          a.item.mainview.active(data-id='lobby')
            i.chat.icon
            | Lobby
          a.item.mainview(data-id='friends')
            i.users.icon
            | Friends
        .ui.sub.menu.lobby
          a.item
            span#peoplecount
            |  People Connected
          .right.menu
            a#lobbysetting.item
              i.setting.icon
        .ui.sub.menu.friends(style='display: none;')
          a.item
            i.icon.small.add
            | Add
          a.item
            i.icon.small.remove
            | Remove


      #lobby
        .main.container
          .content(style='overflow-y: scroll;')
          br
          .ui.action.input(style='width:100%;')
            input#field(placeholder='message...')
            #send.ui.button send

        #setup.ui.modal.transition.hidden
          .header Chat Session Setup
          .content
            .ui.large.input.fluid
              input#name(type='text', placeholder='Alias')
              br
            br
            .actions
              .ui.positive.button.huge.fluid(style='margin-left: 0;') Connect

      #friends

    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='bower_components/semantic-ui/build/packaged/javascript/semantic.min.js')
    script(src='/primus/primus.js')
    script(src='js/chat-client.js')
