!!!
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1,maximum-scale=1,user-scalable=no')
    title= 'chat'
    link(rel='stylesheet', href='css/semantic.min.css')
    link(rel='stylesheet', href='css/chat.css')
  body
    .ui.transparent.inverted.main.menu
      .container
        a.item.active
          i.home.icon
          | Room
        a.item People
    .main.container
      #content(style='height: 10em; overflow-y: scroll;')
      br
      .ui.action.input(style='width:100%;')
        input#field(placeholder='message...')
        #send.ui.button send

    script(src='socket.io/socket.io.js')
    script(src='js/jquery-2.0.3.min.js')
    script(src='js/semantic.min.js')
    script(src='js/aes.js')
    script(src='js/sha256.js')
    script(type='text/javascript').
      window.onload = function() {

        var messages = [];
        var socket = io.connect('');
        var field = document.getElementById("field");
        var sendButton = document.getElementById("send");
        var content = document.getElementById("content");
        name = prompt('name?');
        password = CryptoJS.SHA256(prompt("password?")).toString();

        socket.on('message', function (data) {
          if(data) {
            console.log('recieved - ' + data);

            try {
              var message = JSON.parse(CryptoJS.AES.decrypt(data, password).toString(CryptoJS.enc.Utf8));
            } catch(err) {
              console.log('caught error - ' + err);
            }

            var html = '<b>' + message.username + ': </b>';
            html += message.message + '<br />';

            $('#content').append(html);

            content.scrollTop = content.scrollHeight;
          } else {
            console.log("There is a problem:");
          }
        });

        sendButton.onclick = sendMessage = function() {
          var message = {
            message: field.value,
            username: name
          };
          var encrypted = CryptoJS.AES.encrypt(JSON.stringify(message), password);
          console.log('sending - ' + encrypted.toString());
          socket.emit('send', encrypted.toString());
          field.value = "";
        };

        $(document).ready(function() {
        $("#field").keyup(function(e) {
        if(e.keyCode == 13) {
        sendMessage();
        }
        });
        });
      }
