html, body {
  margin: 0;
  padding: 0;
}

.lobbymessages {
  overflow-y: scroll;
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 60px;
  left: 5px;
}

.lobbymessages p {
  margin: 2px;
}

.inputsend {
  position: absolute;
  bottom: 10px;
}

.viewcontainer {
  padding: 8px;
  position: absolute;
  top: 83px;
  right: 0;
  bottom: 0;
  left: 0;
}
